body {
    font-size: 1.6rem;
    min-height: 100vh;
    display: flex;
}

.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.card {
    text-align: center;
    background-color: #fff;
    max-width: 500px;
    margin: auto;
    padding-bottom: 2rem;
    width: 100%;
    border: 1px solid;
    border-radius: 4px;
}

.user-image {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.user-post-address {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.user-name {
    padding: 3rem 0 1.6rem 0;
    font-size: 1.9rem;
    color: blue;
}

#generate-btn {
    background-color: blue;
    color: #fff;
    font-size: 2rem;
    padding: 0.8rem 1.2rem;
    margin-top: 3rem;
    border-radius: 4px;
    cursor: pointer;
}